<table>
  <tr>
    <td>Lieu</td>
    <td>{{ visit.place.name }}</td>
  </tr>
  <tr>
    <td>Adresse</td>
    <td>{{ visit.place.address.toString() }}</td>
  </tr>
  <tr>
    <td>Date</td>
    <td>{{ visit.date | date:"fullDate" }}</td>
  </tr>
  <tr>
    <td>Heure de début</td>
    <td>{{ visit.startTime | date:"shortTime"}}</td>
  </tr>
  <tr>
    <td>Heure de fin estimée</td>
    <td>{{ visit.endTime | date:"shortTime"}}</td>
  </tr>
  <tr>
    <td>Lieu de rendez-vous</td>
    <td>{{ visit.meetingPlace }}</td>
  </tr>
</table>
