<div id="article" *ngIf="article">
  <h1>{{ article.title }}</h1>

  <ul class="badge-list">
    <span *ngFor="let category of article.categories" class="badge badge-default badge-large">{{ category }}</span>
  </ul>

  <p class="text-muted">Publié le {{ article.date | date:'shortDate' }} à {{ article.date | date:'shortTime' }}</p>

  <div class="content">
    <img [src]="article.src" [alt]="article.title" class="image">
    <markdown [data]="article.content"></markdown>
  </div>

  <div id="related" *ngIf="relatedArticles && relatedArticles.length > 0">
    <h3>Dans la même catégorie…</h3>
    <ul>
      <li *ngFor="let related of relatedArticles">
        <!--
        TODO FIX: no error but update not triggered
        See: https://github.com/angular/angular/issues/10207
        -->
        <a [routerLink]="['../', related.id]">{{ related.title }}</a>
      </li>
    </ul>
  </div>
</div>
