@import '~app/showcase-site/sass/mixins';

$stick: 1em;

.wrapper {
  @include margin-page;
  display: grid;

  grid-template-areas:
    "hd"
    "search"
    "main"
    "feeds";
  grid-row-gap: 1em;
  grid-column-gap: 1em;

  @include media-sm {
    grid-template-areas:
      "hd hd"
      "search main";
    grid-template-columns: 1fr 3fr;
  }

  @include media-lg {
    grid-template-areas:
      ". hd hd"
      "search main feeds";
    grid-template-columns: 1fr 3fr auto;
  }
}

.header {
  grid-area: hd;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr auto;
  grid-template-areas:
    "text"
    "like-btn";
  align-items: flex-end;
  @include media-sm {
    grid-template-columns: 1fr auto;
    grid-template-rows: 1fr;
    grid-template-areas: "text like-btn";
  }
}
.like-btn {
  grid-area: like-btn;
  @include media-lg {
    display: none;
  }
}

.search {
  grid-area: search;
  @include media-sm {
    height: fit-content;
    position: sticky;
    top: $stick;
  }
  background: white;
  padding: 0.5em 0em;
  box-sizing: border-box;
  #filters-title {
    cursor: pointer;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: baseline;
    padding-right: 1em;
    box-sizing: border-box;
    h5 {
      display: inline-block;
    }
    &:hover {
      color: $color-accent;
    }
  }
  ul.filters {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: block;
    background: white;
  }
  ul.filters.hidden {
    display: none;
  }
  .filter + .filter {
    margin-top: 2em;
  }
}
#search-hr {
  display: block;
  @include media-sm {
    display: none;
  }
}

.main {
  grid-area: main;
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
  }
  /* Add space between article items */
  app-article-item + app-article-item {
    // margin-top: 2em;
  }
}
.feeds {
  grid-area: feeds;
  display: none;
  height: fit-content;
  @include media-lg {
    display: block;
    position: sticky;
    top: $stick;
  }
  text-align: center;
}
