<div class="wrapper">
  <div class="header">
    <h1>L'actualité d'OSER</h1>
    <div class="like-btn">
      <div>
        Suivez-nous sur <a href="http://www.facebook.com/OSERCentraleSupelec">Facebook</a>.
      </div>
      <iframe src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2FOSERCentraleSupelec%2F&width=450&layout=standard&action=like&size=large&show_faces=false&share=false&height=35&appId=117119992260617" width="200" height="35" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
    </div>
  </div>

  <div class="search">
    <div class="search-bar">
      <!-- Enter search term here -->
      <input type="text" (keyup)="searchTerm$.next($event.target.value)" placeholder="Rechercher un article…">
    </div>
    <div id="filters-title" (click)="toggleFilters()">
      <h4>Filtrer par…</h4>
      <span class="dropdown"><i class="fa fa-angle-down"></i></span>
    </div>
    <ul class="filters" [ngClass]="{'hidden': !filtersVisible}">
      <list-filter class="filter" title="Année" [values]="years" (onSelect)="onSelectYear($event)" [countContains]="articleYears"></list-filter>
      <list-filter *ngIf="categories && categories.length > 0" class="filter" title="Catégorie" [values]="categories" (onSelect)="onSelectCategory($event)" [countContains]="articleCategories"></list-filter>
    </ul>
    <hr id="search-hr">
  </div>

  <div class="main">
    <div *ngIf="articles; else loading">
      <ul *ngIf="articles.length > 0; else empty">
        <app-article-item *ngFor="let article of articles | fuzzy : search : ['title']" [article]="article" [hidden]="hidden(article)"></app-article-item>
      </ul>
      <ng-template #empty>
        <p>Pas d'articles pour le moment</p>
      </ng-template>
    </div>
    <ng-template #loading>
      <load-spinner></load-spinner>
    </ng-template>
  </div>

  <div class="feeds">
    <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FOSERCentraleSupelec%2F&tabs=timeline&width=300&height=500&small_header=true&adapt_container_width=true&hide_cover=false&show_facepile=false&appId=163201387826770" width="300" height="500" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
  </div>
</div>
