<div id="content">
  <div id="description">
    <h1>Pourquoi nous soutenir ?</h1>
    <p>Nous agissons depuis plus de dix ans pour que des lycéens issus de milieux populaires lèvent les barrières de l'autocensure et des déterminismes et puissent se donner les moyens de forger leur avenir.</p>
    <p>Grâce à votre don, vous aidez chaque année plus de 150 lycéens à se doter des clés qui leur permettront de réaliser leurs ambitions. Vous nous donnez les moyens de leur faire vivre des expériences nouvelles pour eux et de les aider à acquérir
      une meilleure compréhension du monde qui les entoure.</p>
      <p>De tout cœur, merci pour eux !</p>
  </div>

  <!-- onload="window.scroll(0, document.querySelector('iframe').offsetTop)" -->
  <iframe id="haWidget" src="https://www.donnerenligne.fr/ouverture-sociale-pour-l-egalite-et-la-reussite/faire-un-don" frameborder="0"></iframe>
</div>
