<!-- Modal register form -->
<div id="register-form" class="modal" [hidden]="!visible" (click)="clickModal($event)">
  <form name="form" class="modal-content" (ngSubmit)="onParticipate()" novalidate>
    <h2>Inscription à la sortie</h2>
    <p>
      Tu t'apprêtes à t'inscrire à la sortie :
      <strong>{{ visit.title}}.</strong>
    </p>
    <div class="text-center">
      <button class="btn-success">Confirmer mon inscription</button>
      <load-spinner *ngIf="loading"></load-spinner>
    </div>
  </form>
</div>
