<span *ngIf="open" class="badge badge-warning badge-lg"><i class="fa fa-clock-o"></i>
  Inscriptions avant le {{ deadline | date:"dd/MM à HH:mm" }}
</span>

<span *ngIf="!open && !passed" class="badge badge-danger badge-lg" [ngClass]="{'tooltip bottom': !passed}">
  <i class="fa fa-times"></i> Inscriptions fermées {{ deadline | amLocale:'fr' | amTimeAgo }}
  <span class="tooltip-text drop-shadow-sm" *ngIf="!passed">
    Tu peux encore tenter de t'inscrire
    <a href="mailto:oser.sortie@gmail.com?subject=Inscription à la sortie : {{ title }}">par email</a>.
  </span>
</span>
