<a class="no-style" [routerLink]="['../actualites', article.slug]">
  <div class="card" [ngClass]="{'has-image': article.image}">
    <div class="image">
        <img *ngIf="article.image" [src]="article.image" [alt]="article.title"/>
    </div>
    <div class="card-body">
      <h3>
        {{ article.title }}
        <span *ngIf="article.pinned" class="pinned">&nbsp;<i class="fa fa-map-pin"></i>&nbsp;À&nbsp;la&nbsp;une</span>
      </h3>
      <p class="date text-muted-sm">Publié le {{ article.published | date:'shortDate' }}</p>
      <ul class="badge-list">
        <span *ngFor="let category of article.categories" class="badge badge-default">{{ category }}</span>
      </ul>
      <p [innerHTML]="article.preview | emojis"></p>
      <a [routerLink]="['../actualites', article.slug]">Lire la suite</a>
    </div>
  </div>
</a>
