$accent-palette: (
    50 : #fee7ec,
    100 : #fbc4cf,
    200 : #f99caf,
    300 : #f7748e,
    400 : #f55776,
    500 : #f3395e,
    600 : #f13356,
    700 : #ef2c4c,
    800 : #ed2442,
    900 : #ea1731,
    A100 : #ffffff,
    A200 : #ffe8ea,
    A400 : #ffb5bc,
    A700 : #ff9ca6,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$primary-palette: (
    50 : #e6e5f0,
    100 : #c0bed9,
    200 : #9792c0,
    300 : #6d66a6,
    400 : #4d4693,
    500 : #2e2580,
    600 : #292178,
    700 : #231b6d,
    800 : #1d1663,
    900 : #120d50,
    A100 : #8d87ff,
    A200 : #5d54ff,
    A400 : #2c21ff,
    A700 : #1408ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$warn-palette: (
    50 : #fde5e7,
    100 : #fbbec4,
    200 : #f8939c,
    300 : #f56874,
    400 : #f24757,
    500 : #f02739,
    600 : #ee2333,
    700 : #ec1d2c,
    800 : #e91724,
    900 : #e50e17,
    A100 : #ffffff,
    A200 : #ffddde,
    A400 : #ffaaad,
    A700 : #ff9094,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);
