/* You can add global styles to this file, and also import other style files */
@import './variables';
@import './mixins';

@import url('https://fonts.googleapis.com/css?family=Nunito:400,700,900');
@import url('https://fonts.googleapis.com/css?family=Raleway:400,700,900');

body {
  margin: 0;
  font-family: $font-body;
  color: $color-text;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-title;
}
h1, h2 {
  font-weight: 900;
}

.text-center {
  text-align: center;
}

a {
  text-decoration: none;
  color: $color-accent;
  font-weight: bold;
}
a.no-style {
  color: inherit;
  font-weight: inherit;
}
a.no-color {
  color: inherit;
}
.link-muted {
  color: inherit;
  font-weight: bold;
  cursor: pointer;
}

hr {
  height: 1px;
  border-width: 0;
  $color: lighten($color-text, 40%);
  color: $color;
  background-color: $color;
}

input, button {
  font-size: inherit;
  font-family: inherit;
}

input:not([type="file"]) {
  @include box-spacing;
  border: 1px solid darken(lightgray, 10);
  border-radius: 3px;
}

input.form-control {
  margin: 0.5em 0;
}

button {
  cursor: pointer;
}

select {
  font-family: inherit;
  cursor: pointer;
  font-size: inherit;
  @include box-spacing;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-image: none;
  -webkit-appearance: none;
}

.text-muted {
  font-size: smaller;
  color: gray;
}

.text-white {
  color: white;
}

#index-loading {
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

// Required for emoji support
.emoji {
    display: inline-block;
}
