@import '~@angular/material/theming';
@import './variables';
@import './mixins';
@import './material';
@import './load-indicator';
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');
@import url('https://fonts.googleapis.com/css?family=Raleway:400,700,900');
@include mat-core();
@include angular-material-theme($theme);
@include angular-material-typography($typography);

body {
  margin: 0;
  font-family: $font-body;
  color: $color-text;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-title;
}

h1, h2 {
  font-weight: 900;
}

.text-center {
  text-align: center;
}

.text-success {
  color: $color-success;
}

a {
  text-decoration: none;
  color: $color-accent;
  font-weight: bold;
}

a.no-style {
  color: inherit;
  font-weight: inherit;
}

a.no-color {
  color: inherit;
}

.link-muted {
  color: inherit;
  font-weight: bold;
  cursor: pointer;
}

hr {
  height: 1px;
  border-width: 0;
  $color: lighten($color-text, 40%);
  color: $color;
  background-color: $color;
}
// input {
//   font-size: inherit;
//   font-family: inherit;
// }
//
// input:not([type="file"]) {
//   @include box-spacing;
//   border: 1px solid darken(lightgray, 10);
//   border-radius: 3px;
// }
//
// input.form-control {
//   margin: 0.5em 0;
// }

button {
  cursor: pointer;
  font-size: inherit;
  font-family: inherit;
}
// select {
//   font-family: inherit;
//   cursor: pointer;
//   font-size: inherit;
//   @include box-spacing;
//   border: 1px solid #ccc;
//   border-radius: 4px;
//   background-image: none;
//   -webkit-appearance: none;
// }

.text-muted-sm {
  font-size: smaller;
  color: gray;
}

.text-muted {
  color: gray;
}

.text-white {
  color: white;
}

#index-loading {
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
// Required for emoji support
.emoji {
  display: inline-block;
}
// Styling of Markdown contents
.md-content {
  img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
    @include drop-shadow($shadow-sm);
  }

  p {
    text-align: justify;
  }
}
// textarea {
//   font-size: inherit;
//   font-family: inherit;
//   @include box-spacing(.5);
//   border: 1px solid darken(lightgray, 10);
//   border-radius: 3px;
// }
// Modals
.modal {
  position: fixed;
  z-index: 5;
  // stay on top
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 3em 1em;
  box-sizing: border-box;
  background-color: transparentize(black, .4);
}

.modal-content {
  // enable scroll if needed
  overflow: auto;
  background: white;
  margin: auto;
  max-width: 30em;
  max-height: 80vh;
  padding: 3em;
}

.full-width {
  width: 100%;
}

.clickable {
  cursor: pointer;
}
