<div class="page">
  <h1>Gallerie des styles</h1>

  <h2>Les basiques</h2>

  <div id="margin-page" class="bg page">
    .page <br />
    Les marges internes de ce conteneur sont plus petites sur un écran plus petit (aussi appliqué à cette page entière).
  </div>

  <br />

  <div class="bg text-center">
    .text-center
  </div>

  <p><a href="#">a (Un simple lien)</a></p>

  <a class="no-style" href="#">
    <div class="bg">
      a.no-style <br />
      Permet de rendre un élément entier cliquable en l'entourant d'une balise <code>a.no-style</code>.
    </div>
  </a>

  <div id="headers">
    <h1>Titre 1</h1>
    <h2>Titre 2</h2>
    <h3>Titre 3</h3>
    <h4>Titre 4</h4>
    <h5>Titre 5</h5>
    <h6>Titre 6</h6>
  </div>

  <p class="text-muted">.text-muted : un texte adouci</p>

  <p>
    Une entrée de texte :
    <input type="text" placeholder="Prénom">
  </p>

  <p>
    Boîte de sélection :
    <select class="" name="">
      <option value="1">Option 1</option>
      <option value="2">Option 2</option>
    </select>
  </p>

  <h2>Badges</h2>

  <p>
    À placer dans un <code>div class="badge-list"</code> pour garantir le reflow des badges (redimensionnez la page pour voir !).
  </p>
  <div class="badge-list">
    <div *ngFor="let style of styles" [innerHTML]="badgeHtml(style)"></div>
  </div>
  <p>Version agrandie : <span class="badge badge-info badge-lg">badge badge-lg badge-info</span></p>
  <p>Version réduite : <span class="badge badge-info badge-sm">badge badge-sm badge-info</span></p>

  <h2>Alertes</h2>
  <div class="">
    <div *ngFor="let style of styles" [innerHTML]="alertHtml(style)"></div>
  </div>

  <h2>Boutons</h2>
  <div class="">
    <button *ngFor="let style of styles" [className]="buttonClass(style)">.btn-{{ style }}</button>
  </div>

  <h2>Effets</h2>

  <h3>Ombres</h3>

  <div id="shadows">
    <div id="shadow" class="bg drop-shadow-sm">
      .drop-shadow-sm
    </div>
    <div id="shadow" class="bg drop-shadow-md">
      .drop-shadow-lg
    </div>
    <div id="shadow" class="bg drop-shadow-lg">
      .drop-shadow-lg
    </div>
  </div>

  <h3>Animation : raise</h3>
  <div id="shadows">
    <div id="shadow" class="bg drop-shadow-sm-md">
      .drop-shadow-sm-md
    </div>
    <div id="shadow" class="bg drop-shadow-md-lg">
      .drop-shadow-md-lg
    </div>
    <div id="shadow" class="bg drop-shadow-sm-lg">
      .drop-shadow-sm-lg
    </div>
  </div>
</div>
