@import '~sass/variables';

#shadows {
  display: grid;
  width: fit-content;
  grid-gap: 3em;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(3, 1fr);
}
#shadow {
  width: 13em;
  height: 7em;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
#margin-page {
  display: flex;
  justify-content: center;
  align-items: center;
}
.bg {
  background: $color-light-gray;
}
