<div class="container">
  <h1>Mes inscriptions</h1>

  <p>
    <a routerLink="../inscription">M'inscrire à un projet</a>
  </p>

  <mat-list role="list">
    <mat-list-item role="listitem" *ngFor="let participation of participations">
      <p matLine class="clickable" (click)="openAnswers(participation)">
        {{ participation.editionFormTitle }}
      </p>
      <p class="text-muted" matLine>
        Soumis le {{ participation.submitted | amLocale: 'fr' | amDateFormat: 'LL' }} à {{ participation.submitted | amLocale: 'fr' | amDateFormat: 'HH:mm' }}
      </p>
      <app-participation-state matLine [state]="participation.state"></app-participation-state>
      <button mat-icon-button [matMenuTriggerFor]="more">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #more="matMenu">
        <button mat-menu-item (click)="openAnswers(participation)">
          <mat-icon>notes</mat-icon>
          Mes réponses
        </button>
        <button mat-menu-item (click)="openDocuments(participation)">
          <mat-icon>attach_file</mat-icon>
          Documents
        </button>
        <button mat-menu-item (click)="openContact(participation)">
          <mat-icon>dialpad</mat-icon>
          Contact
        </button>
        <button mat-menu-item (click)="openUnregister(participation)">
          <mat-icon>cancel</mat-icon>
          Me désinscrire
        </button>
      </mat-menu>
    </mat-list-item>
  </mat-list>
</div>
