<div class="card">
  <div class="image">
    <img *ngIf="article.src" [src]="article.src" [alt]="article.title"/>
  </div>
  <div class="card-body">
    <h3>
      {{ article.title }}
      <span *ngIf="article.pinned" class="pinned">&nbsp;<i class="fa fa-map-pin"></i>&nbsp;À&nbsp;la&nbsp;une</span>
    </h3>
    <h5 class="date">Publié le {{ article.date | date:'shortDate' }}</h5>
    <span *ngFor="let category of article.categories" class="badge badge-default">{{ category }}</span>
    <p>
      {{ article.preview }}
    </p>
    <a href="#">Lire la suite</a>
  </div>
</div>
