/*
Sticky footer solution from
https://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/
*/
#show-member-page {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

/* Make main content expand to pull footer to the bottom */
.content {
  flex: 1;
}
