<div id="page">
  <h1 class="text-center">Sorties</h1>
  <ul class="tabs">
    <li [ngClass]="{active: !passed}" (click)="passed = false">
      Sorties à venir
    </li>
    <li [ngClass]="{active: passed}"(click)="passed = true">
      Sorties passées
    </li>
  </ul>
  <div *ngIf="visits; else loading">
    <ul id="visits" *ngIf="displayedVisits && displayedVisits.length > 0; else empty">
      <li *ngFor="let visit of displayedVisits">
        <visit-card [visit]="visit" [participant$]="userParticipant(visit)"></visit-card>
      </li>
    </ul>
    <ng-template #empty>
      <p class="text-center">Pas de sorties à afficher ici.</p>
    </ng-template>
  </div>
  <ng-template #loading>
    <load-spinner></load-spinner>
  </ng-template>
</div>
