<div id="footer" class="drop-shadow-md">
  <ul class="list">
    <!--
    <li>
      Newsletter : recevez toute notre actualité &nbsp;&nbsp;
      <a href="#" class="newsletter-button">M'inscrire</a>
    </li>
    -->
    <li>
      <a routerLink="contact">Contact</a>
    </li>
    <li>
      <!-- TODO add router link -->
      <a href="#">Mentions légales &amp; crédits</a>
    </li>
  </ul>
  <ul class="list">
    <a target="_blank" href="https://www.facebook.com/OSERCentraleSupelec/">
      <i class="social fa fa-2x fa-facebook"></i>
    </a>
    <a target="_blank" href="https://twitter.com/OSER_CS">
      <i class="social fa fa-2x fa-twitter"></i>
    </a>
  </ul>
</div>
