@import '~sass/mixins';
@import '~sass/variables';
@import '~sass/media-queries';

.panes {
  display: grid;
  grid-template-columns: 1fr;
  @include media-xs {
    grid-template-columns: 1fr 1fr;
  }
}

.pane-content {
  padding: 3em;
  width: fit-content;
}

.pane-left {
  background: $color-light-blue;
  @include drop-shadow($shadow-sm,$inset: true);
  @include media-xs {
    .pane-content {
      margin-left: auto;
    }
  }
}

.pane-right {
  background: lighten($color-purple-light, 15);
  @include drop-shadow($shadow-sm, $inset: true);
}


.container {
  @include margin-page;
}