<div class="content background">
  <div class="login-form">

    <img class="logo" src="assets/img/oser-logo.png" alt="">

    <h1>Connexion</h1>

    <messages></messages>

    <form name="form" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>

      <!-- Email field -->
      <div class="form-group" [ngClass]="{'has-error': f.submitted && !email.valid}">
        <input type="email" class="form-control block" name="email" [(ngModel)]="model.email" #email="ngModel" required placeholder="Adresse électronique">
        <p *ngIf="f.submitted && !email.valid" class="alert alert-danger">Ce champ est obligatoire</p>
      </div>

      <!-- Password field -->
      <div class="form-group" [ngClass]="{'has-error': f.submitted && !password.valid}">
        <input type="password" class="form-control block" name="password" [(ngModel)]="model.password" #password="ngModel" required placeholder="Mot de passe">
        <div *ngIf="f.submitted && !password.valid" class="alert alert-danger">Ce champ est obligatoire</div>
      </div>

      <!-- Submit -->
      <div class="text-center">
        <button [disabled]="loading" id="login-btn" class="btn-primary">Se connecter</button>
        <p *ngIf="loading"><i class="fa fa-spinner fa-pulse"></i></p>
      </div>
    </form>
    <a routerLink="/signupTutoreOne">S'inscrire en temps que tutoré</a><br/>
    <a routerLink="/signupTuteur">S'inscrire en temps que tuteur</a>
  </div>
</div>
