<a [routerLink]="['./', visit.id]" id="visit" class="no-style drop-shadow-sm-md">
  <img *ngIf="visit.image" [src]="visit.image" [alt]="visit.title">

  <div class="body">

    <div class="visit-content">
      <h3>{{ visit.title }}</h3>

      <!-- Visit's date and time -->
      <strong>{{ visit.date | date:"EEEE d MMMM" }} – {{ visit.date | date:"shortTime"}}</strong><br />
      {{ visit.place.name }}

      <!-- Metadata represented as badges -->
      <div>

        <span *ngIf="visit.registrationsOpen" class="badge badge-warning ">
          <i class="fa fa-clock-o"></i> Inscriptions avant le
          {{ visit.deadline | date:"dd/MM à HH:mm" }}
        </span>

        <span *ngIf="!visit.registrationsOpen" class="badge badge-danger ">
          <i class="fa fa-times"></i> Inscriptions fermées
        </span>

        <span *ngIf="acceptedParticipants > 0" class="badge badge-info">
          {{ acceptedParticipants }} participants
        </span>

        <span *ngIf="participant && participant.accepted" class="badge badge-success">
          Inscrit
        </span>

        <span *ngIf="participant && !participant.accepted" class="badge badge-info">
          En attente
        </span>

      </div>

    </div>

    <div class="detail-link">
      <i class="fa fa-angle-down fa-3x"></i>
    </div>
  </div>
</a>
