@import '~app/showcase-site/sass/mixins';

#page {
  @include margin-page;
}

$gap: 1em;
#visits {
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  grid-column-gap: $gap;
  grid-row-gap: $gap;
}
.visit {
  margin: $gap/2;
  max-width: 20em;
  cursor: pointer;
  @include drop-shadow-animate;
  img {
    width: 100%;
    height: auto;
  }
  &:hover {
    .detail-link {
      color: $color-accent;
    }
  }
}
.body {
  padding: 1em 2em;
  box-sizing: border-box;
  // display: flex;
  // flex-flow: column nowrap;
  // justify-content: flex-end;
  h3 {
    margin-top: 0;
  }
}
.visit-content {
  height: 100%;
}
.detail-link {
  color: transparentize($color-text, .7);
  text-align: center;
}
