<div id="page">
  <h1 class="text-center">Sorties</h1>
  <div *ngIf="nextVisits; else loading">
    <ul id="visits" *ngIf="nextVisits && nextVisits.length > 0; else empty">
      <li *ngFor="let visit of nextVisits">
        <visit-card [visit]="visit" [userParticipates$]="userParticipates(visit)"></visit-card>
      </li>
    </ul>
    <ng-template #empty>
      <p class="text-center">Pas de sorties en ce moment.</p>
    </ng-template>
  </div>
  <ng-template #loading>
    <load-spinner></load-spinner>
  </ng-template>
</div>
