<div id="page">
  <a href="/login">Se connecter</a>
  <div class="badge-list">
    <span class="badge badge-info">Info</span>
    <span class="badge badge-success">Success</span>
    <span class="badge badge-danger">Danger</span>
    <span class="badge badge-warning">Warning</span>
    <span class="badge badge-primary">Primary</span>
    <span class="badge badge-secondary">Secondary</span>
    <span class="badge badge-default">Default</span>
  </div>
  <h1 class="text-center">Sorties</h1>
  <ul id="visits">
    <li *ngFor="let visit of nextVisits">
      <visit-card [visit]="visit"></visit-card>
    </li>
  </ul>
</div>
