<h1 mat-dialog-title>
  Renvoyer ton inscription à {{ edition.project }} {{ edition.year }} ?
</h1>

<mat-dialog-content>
  <p>
    Ton inscription va être renvoyée aux organisateurs.
  </p>
  <p>
    Ils étudieront ta demande et confirmeront ta participation dans la limite des places disponibles.
  </p>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button [matDialogClose]="false">Ne pas renvoyer mon inscription</button>
  <button mat-raised-button color="primary" [matDialogClose]="true">Renvoyer mon inscription</button>
</mat-dialog-actions>
