<form [formGroup]="formGroup" (ngSubmit)="submit()" class="form-signin">

  <img class="logo" src="assets/img/oser-logo.png"/>

  <h1 class="form-signin-heading">Inscription</h1>

  <h3>Identifiants de connexion</h3>

  <!-- Email -->
  <mat-form-field class="full-width">
      <input matInput type="email" formControlName="email" placeholder="Adresse email" required>
  </mat-form-field>

  <!-- Password -->
  <mat-form-field class="full-width">
    <input matInput [type]="hide ? 'password' : 'text'" formControlName="password" placeholder="Mot de passe" required>
    <button mat-icon-button matSuffix (click)="hide = !hide">
      <mat-icon>
        {{ hide ? 'visibility' : 'visibility_off' }}
      </mat-icon>
    </button>
  </mat-form-field>

  <!-- Confirm password -->
  <mat-form-field class="full-width">
    <input matInput [type]="hide ? 'password' : 'text'" formControlName="passwordConfirm" placeholder="Mot de passe (à nouveau)" required>
    <button mat-icon-button matSuffix (click)="hide = !hide">
      <mat-icon>
        {{ hide ? 'visibility' : 'visibility_off' }}
      </mat-icon>
    </button>
  </mat-form-field>

  <h3>Informations personnelles</h3>

  <!-- Gender -->
  <mat-form-field class="full-width">
    <mat-select formControlName="gender" placeholder="Tu es…" required>
      <mat-option value="M">Un garçon</mat-option>
      <mat-option value="F">Une fille</mat-option>
    </mat-select>
  </mat-form-field>

  <!-- First name -->
  <mat-form-field class="full-width">
    <input matInput type="text" formControlName="firstName" placeholder="Prénom" required>
  </mat-form-field>

  <!-- Last name -->
  <mat-form-field class="full-width">
    <input matInput type="text" formControlName="lastName" placeholder="Nom" required>
  </mat-form-field>

  <!-- Date of birth -->
  <mat-form-field class="full-width">
      <input matInput type="date" [matDatepicker]="picker" formControlName="dateOfBirth" placeholder="Date de naissance" required>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <!-- Phone -->
  <mat-form-field class="full-width">
    <input matInput type="tel" formControlName="phone" placeholder="Numéro de téléphone" required>
  </mat-form-field>

  <h3>Adresse postale</h3>

  <div formGroupName="address">
    <!-- Line 1 -->
    <mat-form-field class="full-width">
      <input matInput type="text" formControlName="line1" placeholder="Rue, numéro, voie" required>
    </mat-form-field>

    <!-- Line 2 -->
    <mat-form-field class="full-width">
      <input matInput type="text" formControlName="line2" placeholder="Bâtiment, boite postale, lieu-dit">
    </mat-form-field>

    <!-- Post code -->
    <mat-form-field class="full-width">
      <input matInput type="text" formControlName="postCode" placeholder="Code postal" required>
    </mat-form-field>

    <!-- City -->
    <mat-form-field class="full-width">
      <input matInput type="text" formControlName="city" placeholder="Ville" required>
    </mat-form-field>
  </div>

  <h3>Personne à contacter en cas d'urgence</h3>

  <div formGroupName="emergencyContact">
    <!-- First name -->
    <mat-form-field class="full-width">
      <input matInput type="text" formControlName="firstName" placeholder="Prénom" required>
    </mat-form-field>

    <!-- Last name -->
    <mat-form-field class="full-width">
      <input matInput type="text" formControlName="lastName" placeholder="Nom" required>
    </mat-form-field>

    <!-- Email address -->
    <mat-form-field class="full-width">
        <input matInput type="email" formControlName="email" placeholder="Adresse email" required>
    </mat-form-field>

    <!-- Mobile phone -->
    <mat-form-field class="full-width">
      <input matInput type="tel" formControlName="mobilePhone" placeholder="Téléphone portable">
    </mat-form-field>

    <!-- Home phone -->
    <mat-form-field class="full-width">
      <input matInput type="tel" formControlName="homePhone" placeholder="Téléphone fixe">
    </mat-form-field>
  </div>

  <div class="text-center">
    <button mat-raised-button color="primary" [disabled]="!formGroup.valid">Suivant</button>
  </div>
</form>
