.content {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.form-signin {
  width: 100%;
  max-width: 45em;
  background: white;
  border: 1px solid lightgray;
  border-radius: 8px;
  padding: 3em;
  margin: 3em;
  box-sizing: border-box;
}

.form-signin .form-signin-heading, .form-signin .checkbox {
  margin-bottom: 30px;
}

.form-signin .checkbox {
  font-weight: normal;
}

.form-signin .form-control {
  position: relative;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.form-signin .form-control:focus {
  z-index: 2;
}

.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.form-signin input[type="confirm"] {
  margin-bottom: 20px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.logo {
  width: 100%;
  max-width: 20em;
  height: auto;
  display: block;
  margin: auto;
}

.block {
  width: 100%;
}

.background {
  background-color: rgb(3, 180, 180);
}

.centerButton{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.labelPersonalQuestions{
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  padding-left: 5px;
  padding-right: 5px;
  background-color: rgb(236, 236, 236);
}

.dots{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
}

.dot{
  margin-left: 10px;
  margin-right: 10px;
}

.practice{
  margin-bottom: 15px;
}

.labelPracticeInfo{
  font-size: 14px;
}

.textMotivation{
  margin-bottom: 10px;
}