<div id="article">
  <div *ngIf="article; else loading">

    <div>
      <span *ngFor="let category of article.categories" class="badge badge-default">{{ category }}</span>
    </div>

    <h1>{{ article.title }}</h1>

    <p class="intro" *ngIf="article.introduction">{{ article.introduction }}</p>

    <p class="text-muted-sm">—</p>

    <p class="text-muted-sm">
      Publié le {{ article.published | date:'shortDate' }}
      à {{ article.published | date:'shortTime' }}.
      <span *ngIf="article.modified">Mis à jour le {{ article.modified | date:'shortDate'}} à {{ article.modified | date:'shortTime' }}.</span>
    </p>

    <div class="md-content">
      <img *ngIf="article.image && article.displayImage" [src]="article.image" [alt]="article.title" class="drop-shadow-sm">
      <div [innerHTML]="article.content | markdown | emojis"></div>
    </div>

    <div id="related" *ngIf="relatedArticles && relatedArticles.length > 0">
      <hr>
      <h3>Dans la même catégorie…</h3>
      <ul>
        <li *ngFor="let related of relatedArticles">
          <a class="related-link" (click)="navigate(related)">
            {{ related.title }}
          </a>
        </li>
      </ul>
    </div>
  </div>
  <ng-template #loading>
    <app-load-spinner></app-load-spinner>
  </ng-template>
</div>
