@import '~app/showcase-site/sass/mixins';

#article {
  @include margin-page;
  margin: 0 auto;
  max-width: 40em;
  position: relative;
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -10;
    @include drop-shadow($shadow-sm);
  }
}

.intro {
  color: $color-dark-gray;
}

.related-link {
  cursor: pointer;
}
