<div class="navbar drop-shadow-md" [ngClass]="{'blue': theme === 'blue'}">
  <div class="top">
    <a routerLink="/" class='logo-container'>
      <span [ngSwitch]="theme">
        <img *ngSwitchCase="'blue'" src='assets/img/oser-logo-white.png' alt='Logo' class='logo'>
        <img *ngSwitchDefault src='assets/img/oser-logo.png' alt='Logo' class='logo'>
      </span>
    </a>
    <div class="nav-wide">
      <app-nav-group [theme]="theme" [links]="links"></app-nav-group>
    </div>
    <i (click)="toggle()" class="hamburger fa fa-bars fa-2x"></i>
  </div>
  <div class="nav-narrow">
    <app-nav-group *ngIf="visible" [vertical]="true" [theme]="theme" [links]="links" (click)="toggle()"></app-nav-group>
  </div>
</div>
