<div class="navbar drop-shadow-md">
  <div class="top">
    <a routerLink="/" class='logo-container'>
      <img src='assets/img/oser-logo.png' alt='Logo' class='logo'>
    </a>
    <div class="nav-wide">
      <app-nav-group [links]="links"></app-nav-group>
      <ng-content select="[app-navbar-extra]"></ng-content>
    </div>
    <i (click)="toggle()" class="hamburger fa fa-bars fa-2x"></i>
  </div>
  <div class="nav-narrow" *ngIf="visible">
    <app-nav-group-vertical [links]="links" (click)="toggle()"></app-nav-group-vertical>
    <ng-content select="[app-navbar-extra-narrow]"></ng-content>
  </div>
</div>
