@import '~sass/media-queries';
@import '~sass/variables';
$margin-page: 2em;
$col-padding: 10px;

.navbar {
  position: static;
  top: 0;
  padding: 0 $margin-page;
  margin: 0;
  background: white;
  &.blue {
    background: $color-dark-blue;
    i.hamburger {
      color: white !important;
    }
  }
  z-index: 10;
  display: flex;
  flex-flow: column nowrap;
}

.top {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

a.logo-container {
  display: block;
  padding: $col-padding;
  margin: 0;
  margin-right: auto;
}

img.logo {
  width: 100%;
  max-width: 15em;
  padding-top: .3em;
  padding-bottom: .2em;
}

i.hamburger {
  cursor: pointer;
  margin-left: auto;
  margin-right: 0;
  color: $color-dark-blue;
  display: block;
  @include media-md {
    display: none;
  }
}

.nav-wide {
  height: 100%;
  margin-top: auto;
  display: none;
  flex: 1;
  @include media-md {
    display: flex;
    justify-content: space-between;
  }
}

.nav-narrow {
  display: block;
  @include media-md() {
    display: none;
  }
}
