<div class="page-content">
    <span class="page-background"></span>
    <section id="header" class="drop-shadow-md">
      <h1>
        <span class="colorized">Nous sommes</span> des étudiants et étudiants de CentraleSupélec <span class="colorized">engagés</span> pour l'égalité des chances<span class="colorized">.</span>
      </h1>
      <p>
        Notre association porte l'action d'ouverture sociale de <a href="http://www.centralesupelec.fr" class="no-color">CentraleSupélec</a>, Grande École d'ingénieurs dont les étudiants s'engagent pour favoriser le lien social et la réussite de chacun. <br />
        Notre association loi 1901 est reconnue d'intérêt général et labellisée <a href="http://www.cordeesdelareussite.fr" class="no-color">Cordées de la Réussite</a>.
      </p>
    </section>
  </div>
  