@import '~sass/mixins';
@import '~sass/variables';

#visit {
  @include margin-page;
  margin: 0 auto;
  max-width: 40em;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -10;
    @include drop-shadow($shadow-sm);
  }
}

#participate-btn {
  margin-top: 1em;
}



img#illustration {
  display: block;
  margin: 1em auto;
}

#header {
  margin-bottom: $margin-page;
}

.columns {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: $margin-page;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.organizers {
  display: flex;
  flex-flow: row wrap;
  app-organizer-card {
    margin: .5em;
  }
}
