@import '~sass/variables';
@import '~sass/mixins';

.logo {
  width: 100%;
  max-width: 20em;
  height: auto;
  display: block;
  margin: auto;
}

.form-group {
  display: flex;
  flex-flow: column;
}

.has-error {
  input {
    @include style-danger;
  }
}
#login-btn {
  margin-top: 1em;
}

.form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.block {
  width: 100%;
}
