@import '~sass/variables';
@import '~sass/mixins';
@import '~sass/media-queries';

:host {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  min-height: 100vh;
  background: $color-light-gray;
  padding: 1em;
}

.well {
  width: 100%;
  max-width: 30em;
  background: white;
  border: 1px solid lightgray;
  border-radius: 8px;
  padding: 1em;
  @include media-xs {
    padding: 2em 3em;
  }
  box-sizing: border-box;
}

.logo {
  width: 100%;
  max-width: 20em;
  height: auto;
  display: block;
  margin: auto;
}
