<app-form-page>
  <h1>
    Signature charte du tutoré
  </h1>
  <p>
    Nous allons te présenter la charte du tutoré.
  </p>
  <p>
    Tu vas devoir la lire <b>attentivement</b> et la signer pour continuer ton inscription.
  </p>
  <h2>
    Charte du tutoré 
  </h2>
  <p>
    Tu t’es inscrit·e à OSER, <strong class=important>bienvenue à toi</strong> ! 
    Afin de passer une année formidable, nous te demandons de t’engager sur <a>trois</a> points 
    concernant les différentes activités d’OSER. De notre côté, 
    nous nous engageons à t’accueillir à chaque séance et à te proposer des <strong class=important>séances de tutorat</strong>, 
    des <strong class=important>sorties</strong> et des <strong class=important>projets</strong> enrichissants et passionnants.
Voici donc ces trois points :
    </p>
        <p>
        • Tu  t’engages à être présent·e, à l’heure, aux séances de tutorat, et à nous prévenir 
        lorsque tu as un empêchement. Il en va de même pour les sorties et les projets : 
        il est <a>capital</a> que tu préviennes un membre de l’association si tu ne peux plus venir.
      </p>
        <p>
          • Tu t’engages à <strong class=important>respecter</strong> les autres tutoré·e·s ainsi que les tuteurs et tutrices pendant les séances, 
          les sorties et les projets.
        </p>
        <p>
        • Tu t’engages à suivre les <a>consignes de sécurité</a> et d’encadrement des tuteurs et des tutrices, 
        notamment lors des sorties et des projets.
        </p>
        <p>
    Enfin, pour que les activités d’OSER soient vraiment intéressantes pour toi, 
    nous pensons qu’il est important que tu <strong class=important>participes activement</strong> aux séances, 
    aux sorties et aux projets.
        </p>
      

      
      <a>
      <mat-checkbox class="text-center" [checked]="$state" (click)="toggle()">J'ai lu la charte du tutoré et 
      je m'engage à la respecter.</mat-checkbox>
      </a>
      <p>
        <mat-hint>
          Cette signature est obligatoire.
        </mat-hint>
      </p>
      

        <div class="text-center">
          <button mat-raised-button color="primary"   [disabled]="!state" routerLink='/inscription/parents-charter'>
            Suivant
        </button>
        </div>



</app-form-page>