<app-form-page>
  <h1>
    Signature charte du tutoré
  </h1>
  <p>
    Nous allons te présenter la charte du tutoré.[...]
  </p>
  <p>
    Tu vas devoir la lire <b>attentivement</b> et la signer pour continuer ton inscription.
  </p>
  <h2>
    Charte du tutoré 
  </h2>
  <p>
    Tu t’es inscrit au tutorat d’Ouverture Sociale pour l’Egalité et la Réussite (OSER), et je t’en félicite ! Je
    te promets que tu ne regretteras pas ce choix !
    Pour passer une année vraiment formidable et enrichissante, nous te demandons de t’engager sur
    quatre points concernant les séances de tutorat, mais aussi les activités supplémentaires qui sont
    proposées par OSER. De notre côté, nous nous engageons à être présents pour t’accueillir à chaque
    séance et te proposer des activités, des sorties, et des stages à la hauteur de tes attentes. C’est donc
    normal que nous te demandions quelques efforts aussi ; rien de bien méchant ni de compliqué !
    </p>
        <p>
        • Tu t’engages à être présent, à l’heure, à toutes les séances de tutorat. Bien sûr, si un jour tu as un
        empêchement, nous comprendrons, mais essaie de nous prévenir avant.
      </p>
        <p>
        • Tu t’engages à respecter aussi bien les tuteurs que les autres lycéens pendant les séances, sorties,
        projets, et à participer un minimum aux activités. Venir en séance pour rester au fond de la salle et
        passer le temps sur ton téléphone n’a aucun intérêt, ni pour toi, ni pour nous. Le respect des tuteurs
        passe aussi par le fait, lorsqu’il y a un goûter, d’éviter d’en mettre partout, car c’est nous qui nettoyons
        après.
        </p>
        <p>
        • Tu t’engages, lorsque tu t’inscris à une sortie, à t’y rendre, et à respecter les consignes des tuteurs
        qui t’accompagneront. Si tu as un empêchement, tu dois prévenir quelqu’un de l’association.
        </p>
        <p>
        • Tu t’engages, lors des voyages et stages organisés, à respecter les instructions des tuteurs présents,
        et ce pour des raisons évidentes de sécurité.
        Ces quelques engagements te permettront de retirer un maximum du programme d’OSER.
        </p>
      

      
      <a>
      <mat-checkbox class="text-center" [checked]="$state" (click)="toggle()">J'ai lu la charte du tutoré et 
      je m'engage à la respecter.</mat-checkbox>
      </a>
      <p>
        <mat-hint>
          Cette signature est obligatoire.
        </mat-hint>
      </p>
      

        <div class="text-center">
          <button mat-raised-button color="primary"  [disabled]="!state" routerLink='/inscription/parents-charter'>
            Suivant
        </button>
        </div>



</app-form-page>