@import '~sass/variables';

.container {
  color: white;
  .text-muted {
    color: $color-purple-light;
  }
}

#title {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: separate;
  border-spacing: 0 1em;
  td.action {
    text-align: center;
    padding: 0 1em;
  }
  p {
    margin: 0;
    padding: 0;
  }
}
