<div class="container">
  <h2 id="title">Inscriptions ouvertes</h2>
  <a routerLink="./inscription">M'inscrire à un projet</a>

  <p>2 projets ouverts à l'inscription</p>

  <table>
    <tr>
      <td>
        <p>
          <strong>Inscriptions à (Art)cessible 2019</strong>
        </p>
        <p class="text-muted">
          Avant le 30/02/2019 /
          <span style="font-weight: bold;">140 jours restants</span>
        </p>
      </td>
      <td class="action">
        <button class="btn-light">Je m'inscris</button>
      </td>
    </tr>
    <tr>
      <td>
        <p>
          <strong>Inscriptions à Oser la Prépa 2018</strong>
        </p>
        <p class="text-muted">
          Avant le 30/06/2018 /
          <span style="font-weight: bold;">4 jours restants</span>
        </p>
      </td>
      <td class="action">
        Inscription effectuée
      </td>
    </tr>
  </table>

</div>
