<app-form-page >
  <h1>
    Signature de l'accord des parents
  </h1>
  <a>
    Cette partie de l'inscription est à destination de tes parents.
  </a>
  <h2>
    Qu'est-ce que OSER ?
  </h2>
  <p>
    OSER est une association étudiante de CentraleSupélec affiliée au programme national des <a>Cordées de la Réussite</a>. 
    Elle propose à des collégien·ne·s et des lycéen·ne·s des <strong class=important>séances de tutorat</strong> d’ouverture culturelle et scientifique, 
    des <strong class=important>sorties</strong> en Île-de-France, ainsi que de nombreux projets incluant des voyages et des stages leur permettant de vivre 
    de nombreuses expériences enrichissantes. <a>L’objectif ?</a> Permettre à nos tutoré·e·s de développer leur aisance à l’oral, 
    leur esprit critique, le travail d’équipe ainsi qu’enrichir leur culture générale. Enfin, les tutoré·e·s peuvent compter 
    sur leurs tuteurs et tutrices pour les guider dans leur orientation. 
  </p>
  <p>    
  Pour plus d’informations, vous pouvez nous contacter par mail : <a href="mailto:contact@oser-cs.fr" >contact@oser-cs.fr</a>.
  </p>
    
  
  
  <a>
    <mat-checkbox class="text-center" [checked]="$state_general" (click)="toggleGeneral()">J'autorise mon enfant à participer à OSER.</mat-checkbox>
  </a>
  <p>
    <mat-hint>
      Cette signature est obligatoire.
    </mat-hint>
  </p>
  <h2>
    Quelles sont les données récupérées par OSER ?
  </h2>
  <p>
  Dans le cadre de la récente mise en place du <a>RGPD</a> (Règlement Général sur la Protection des Données), nous aimerions attirer 
  votre attention sur les collectes d’informations qu’OSER effectue. Les données que nous récoltons sont les coordonnées de votre enfant,
  celles des personnes à contacter en cas d’urgence, ainsi que des données sociales qui nous sont indispensables pour justifier 
  nos activités auprès des <strong class=important>organismes de subventions publics</strong> (région, département et rectorat). 
  La collecte de ces données se fait lors de l’inscription à OSER via un formulaire sur notre site internet en début d’année 
  et peut aussi se faire lors des inscriptions aux divers projets proposés par l’association. 
  Le <strong class=important>stockage de ces informations</strong> se fait en partie dans un Google Drive accessible aux membres du bureau de l’association, 
  sur notre site internet et en partie au format papier. Les documents papiers sont conservés sous clés. <a>Nous nous engageons 
  à ce que seuls les tuteurs et tutrices de l’association aient accès aux informations collectées et à ce qu’ells soient exclusivement utilisées
  dans le cadre des actions d’OSER.</a>
  </p>
  <p>
  De plus, nous vous informons que la communication avec les lycéen·ne·s se fait via l’application <strong class=important>WhatsApp</strong>. 
  Cet outil nous permet de leur rappeler les dates des prochaines séances, de leur communiquer des informations sur nos 
  projets et de répondre à leurs questions.
  </p>
  <p>
    Les données récoltées peuvent être modifiées à tout moment via l'onglet "Mon compte" sur le site. Vous pouvez également demander à tout moment 
    la supression des données par mail : <a href="mailto:contact@oser-cs.fr" >contact@oser-cs.fr</a> 
  </p>

  <a>
    <mat-checkbox class="text-center" [checked]="$state_data" (click)="toggleData()">J'autorise OSER à récupérer les données de mon enfant.</mat-checkbox>
  </a>
  <p>
    <mat-hint>
      Cette signature est obligatoire.
    </mat-hint>
  </p>

  <h2>
    Autorisation de droit à l'image
  </h2>
  <p>
    En cochant la case ci-dessous, vous autorisez les tuteurs et tutrices d’OSER à prendre des <strong class=important>photos</strong> et des <strong class=important>vidéos</strong> représentant votre enfant, 
    lors de sa présence en séance de tutorat et lors des activités organisées par l'association (sorties ou projets).
    Ces films et/ou photos peuvent être utilisées par <a>OSER</a> ainsi que <a>CentraleSupélec</a> sur des outils de communication internes et 
    externes (site internet, réseaux sociaux, présentation en séance) afin de présenter nos activités aux financeurs et de faire 
    de la publicité auprès des tutoré·e·s pour les projets pour les années à venir. 
    
  </p>

  
  <mat-checkbox class="text-center" [checked]="$state_image" (click)="toggleImage()">J'autorise OSER à prendre en photo/vidéo mon enfant.</mat-checkbox>
  <p>
      <mat-hint>
        Cette signature n'est pas obligatoire.
      </mat-hint>
  </p>

  <div class="text-center">
    <button mat-raised-button color="primary"  (click)="signChart()" [disabled]="!toggleSuivant()" routerLink='/membres/compte/modifier_donnees'>
      Terminer l'inscription
  </button>
  </div>


</app-form-page>