.checkbox-field {
    display: block;
    margin: .5em 0;
  }
  .form-group{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .horizontal-display{
    width:45%;
  }
  .adress-input{
    margin:5px;
  }
  
  .quarter-display{
    width:25%;
  }