<div class="page" *ngIf="visit">
  <div id="header">
    <h1>{{ visit.title }}</h1>
    <strong>{{ visit.date | date:"EEEE d MMMM" }} – {{ visit.date | date:"shortTime"}}</strong><br />
    <!-- TODO replace with place's name -->
    <span [innerHTML]="visit.place | linebreaks"></span>
  </div>

  <h2>Résumé</h2>
  <p [innerHTML]="visit.summary | linebreaks"></p>

  <span *ngIf="visit.registrationsOpen" class="badge badge-warning badge-lg"><i class="fa fa-clock-o"></i> Inscriptions avant le {{ visit.deadline | date:"dd/MM à HH:mm" }}</span>
  <span *ngIf="!visit.registrationsOpen" class="badge badge-danger badge-lg"><i class="fa fa-times"></i> Inscriptions fermées</span>
  <span *ngIf="visit.participants && visit.participants.length > 0" class="badge badge-info badge-lg"><i class="fa fa-user"></i> Déjà {{ visit.participants.length }} participants</span>


  <div *ngIf="userParticipates">
    <p class="alert alert-success"><i class="fa fa-ticket"></i> Bravo, tu participes à cette sortie !</p>
    <p class="text-muted">Tu as un empêchement et souhaites <a class="link-muted" href="#">te désinscrire ?</a></p>
  </div>
  <button *ngIf="visit.registrationsOpen && !userParticipates" type="button" name="button" class="btn-primary">Je m'inscris</button>

  <h2>Détail des activités</h2>

  <p [innerHTML]="visit.description | linebreaks"></p>

  <h2>Informations pratiques</h2>

  <p class="alert alert-info" *ngIf="userParticipates">
    <i class="fa fa-file-text"></i> Les organisateurs ont rédigé une <a href="#">fiche sortie</a>. Consulte-la avant de te rendre à la sortie !
  </p>

  <ul>
    <!-- TODO replace with place's address -->
    <li>Lieu : <span [innerHTML]="visit.place | linebreaks"></span></li>
    <li>Date : {{ visit.date | date:"fullDate" }}</li>
    <li>Heure de rendez-vous : {{ visit.date | date:"shortTime"}}</li>
  </ul>


  <div *ngIf="userParticipates">
    <h3>Contacts utiles</h3>

    <ul>
      <li>Emilie Bouc : organisatrice, +33 6 12 23 34 45</li>
      <li>Bernard Pivot : organisateur, +33 6 56 67 78 89</li>
      <li>Alphonse Daudet : responsable des sorties à OSER, +33 6 90 01 02 03</li>
    </ul>
  </div>

  <h3>Se rendre à cette sortie</h3>

  <agm-map [latitude]="lat" [longitude]="lng">
    <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
  </agm-map>
</div>
