<div class="container">
  <div class="background"></div>
  <div id="sheet" class="drop-shadow-md">
    <div id="content">
      <h1>Nous contacter</h1>
      <br>
      <p>Pour toute <strong>demande d'information sur nos actions</strong>, contactez-nous à l'adresse <a href="mailto:{{ contact }}" >{{ contact }}</a>.</p>
      <hr>
      <p>Pour toute <strong>demande de partenariat ou presse</strong>, contactez-nous à l'adresse <a href="mailto:{{ partners }}">{{ partners }}</a>.</p>
    </div>
  </div>
</div>
