@import '~sass/mixins';

#visit {
  @include margin-page;
  margin: 0 auto;
  max-width: 40em;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -10;
    @include drop-shadow($shadow-sm);
  }
}

agm-map {
  height: 400px;
}

#participate-btn {
  margin-top: 1em;
}

img#illustration {
  display: block;
  margin: 1em auto;
}

#header {
  margin-bottom: $margin-page;
}

.columns {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: $margin-page;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.tips {
  width: 100%;
  border: none;

  td:nth-child(1) {
    font-weight: bold;
  }
}
// Modal register form
.modal {
  position: fixed;
  z-index: 5;
  // stay on top
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  // enable scroll if needed
  background-color: transparentize(black, .4);
}

.modal-content {
  background: white;
  margin: 15% auto;
  max-width: 30em;
  padding: 3em;
}
