@import '~sass/mixins';
@import '~sass/variables';

#visit {
  @include margin-page;
  margin: 0 auto;
  max-width: 40em;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -10;
    @include drop-shadow($shadow-sm);
  }
}

agm-map {
  height: 400px;
}

#participate-btn {
  margin-top: 1em;
}

img#illustration {
  display: block;
  margin: 1em auto;
}

#header {
  margin-bottom: $margin-page;
}

.columns {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: $margin-page;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.tips {
  width: 100%;
  border: none;

  td:nth-child(1) {
    font-weight: bold;
  }
}

.tooltip {
  position: relative;
  text-decoration: underline;
  text-decoration-style: dotted;

  .tooltip-text {
    visibility: hidden;
    background-color: white;
    color: $color-text;
    text-align: center;
    padding: 5px 0;
    border-radius: 4px;

    // Position the tooltip text
    position: absolute;
    width: 15em;
    top: 100%;
    left: 50%;
    margin-left: -7.5em;
    z-index: 1;
  }
  &:hover .tooltip-text {
    visibility: visible;
  }
}
