<div id="visit">
  <app-register-form [visible]="registerFormActive" (closed)="registerFormActive = false" [userId]="userId" [visit]="visit" (participate)="onParticipate($event)"></app-register-form>

  <app-leave-form [visible]="leaveFormActive" (closed)="leaveFormActive = false" [visit]="visit" [userId]="userId" (left)="participant = null"></app-leave-form>

  <div class="text-center">
    <h1>{{ visit.title }}</h1>
    <p>
      <strong>{{ visit.date | date:"EEEE d MMMM" }} – {{ visit.startTime | date:"shortTime"}}</strong> – {{ visit.place.name }}
    </p>

    <p *ngIf="visit.summary" class="text-muted">
      {{ visit.summary }}
    </p>

    <!-- Metadata badges -->
    <div>
      <span *ngIf="visit.registrationsOpen" class="badge badge-warning badge-lg"><i class="fa fa-clock-o"></i>
        Inscriptions avant le {{ visit.deadline | date:"dd/MM à HH:mm" }}
      </span>
      <span *ngIf="!visit.registrationsOpen" class="badge badge-danger badge-lg" [ngClass]="{'tooltip bottom': !visit.passed}">
        <i class="fa fa-times"></i> Inscriptions fermées <span *ngIf="!visit.passed">{{ visit.deadline | amLocale:'fr' | amTimeAgo }}</span>
        <span class="tooltip-text drop-shadow-sm" *ngIf="!visit.passed">
          Tu peux encore tenter de t'inscrire
          <a href="mailto:oser.sortie@gmail.com?subject=Inscription à la sortie : {{ visit.title }}">par email</a>.
        </span>
      </span>
      <span *ngIf="acceptedParticipants > 0" class="badge badge-default badge-lg">
        <i class="fa fa-user"></i> {{ acceptedParticipants }} participants
      </span>
      <span *ngIf="participant">
        <span *ngIf="participant.accepted" class="badge badge-success badge-lg">
          <i class="fa fa-ticket"></i> Tu <span [ngSwitch]="visit.passed">
            <span *ngSwitchCase="true">as participé</span>
            <span *ngSwitchDefault>participes</span>
          </span> à cette sortie.
        </span>
        <span *ngIf="!participant.accepted" class="badge badge-info badge-lg">
          <i class="fa fa-info"></i> Ton inscription est en attente de validation par les organisateurs.
        </span>
      </span>
    </div>

    <!-- Show register button if user does not participate -->
    <div *ngIf="visit.registrationsOpen && !participant" class="text-center">
      <button id="participate-btn" type="button" name="button" class="btn-success" (click)="registerFormActive = true">Je m'inscris</button>
    </div>

    <div *ngIf="participant && !visit.passed">

      <!-- And a shy-ish unregister link -->
      <p class="text-muted-sm">Tu as un empêchement et souhaites <span class="link-muted" (click)="leaveFormActive = true">te désinscrire ?</span></p>

      <!-- Related documents -->
      <p class="alert alert-info" *ngIf="visit.permissionSheet">
        {{ visit.permissionSheet }}
        <i class="fa fa-exclamation-triangle"></i> Avant de te rendre à la sortie, télécharge <a [href]="visit.permissionSheet">l'autorisation de sortie</a>. Fais-la remplir par tes parents et remet-la aux tuteurs le jour de la sortie.
      </p>
      <p class="alert alert-default" *ngIf="visit.factSheet">
        <i class="fa fa-file-text"></i> Les organisateurs ont rédigé une <a [href]="visit.factSheet">fiche sortie</a>. N'hésite pas à en prendre connaissance avant de te rendre à la sortie !
      </p>
    </div>

    <img id="illustration" *ngIf="visit.image" [src]="visit.image" [alt]="visit.title" class="drop-shadow-sm">
  </div>

  <div *ngIf="visit.description">
    <h2>Détail des activités</h2>
    <markdown [data]="visit.description"></markdown>
  </div>

  <div *ngIf="visit.place.description">
    <h2>À propos du lieu</h2>
    <markdown [data]="visit.place.description"></markdown>
  </div>

  <h2>Informations pratiques</h2>

  <table class="tips">
    <tr>
      <td>Lieu</td>
      <td>{{ visit.place.name }}</td>
    </tr>
    <tr>
      <td>Adresse</td>
      <td>{{ visit.place.address.toString() }}</td>
    </tr>
    <tr>
      <td>Date</td>
      <td>{{ visit.date | date:"fullDate" }}</td>
    </tr>
    <tr>
      <td>Heure de début</td>
      <td>{{ visit.startTime | date:"shortTime"}}</td>
    </tr>
    <tr>
      <td>Heure de fin estimée</td>
      <td>{{ visit.endTime | date:"shortTime"}}</td>
    </tr>
    <tr>
      <td>Lieu de rendez-vous</td>
      <td>{{ visit.meetingPlace }}</td>
    </tr>
  </table>

  <h2>Se rendre à cette sortie</h2>
  <agm-map [latitude]="lat" [longitude]="lng" [zoom]="17">
    <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
  </agm-map>

  <div *ngIf="visit.organizers.length > 0">
    <h2>Tuteurs organisateurs</h2>

    <ul>
      <li *ngFor="let organizer of visit.organizers">
        {{ organizer.user.firstName }} {{ organizer.user.lastName}}
        <span *ngIf="organizer.user.phoneNumber">
          (tél. : <app-reveal [content]="organizer.user.phoneNumber"></app-reveal>)
        </span>
      </li>
    </ul>
  </div>

</div>
