@import '~app/showcase-site/sass/mixins';

#page {
  @include margin-page;
}

$grid-gap: 1em;

ul.tabs {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  
  text-align: center;
  margin-bottom: 2em;
  li {
    padding: 1em;
    cursor: pointer;
    color: $color-muted;
    font-weight: bold;
    &:hover {
      color: $color-text;
    }
    &.active {
      color: $color-dark-blue;
    }
  }
  border-bottom: 1px solid $color-light-gray;
}

.centered-links{
  display:flex;
  flex-direction: row;
  justify-content: space-around;
}