<img id="landing-photo" src="assets/img/groupe.jpg" alt="Photo de groupe">

<div id="qui-sommes-nous">
  <h2>Qui sommes-nous ?</h2>
  <p>
    <strong>Ouverture Sociale pour l'Égalité et la Réussite</strong> est une association loi 1901 composée d'étudiants et d'étudiantes de CentraleSupélec engagés pour plus d'égalité des chances face aux études supérieures.
    <br><br> Nous souhaitons que <strong>chacun, quelles que soient ses origines sociales, économiques ou culturelles, puisse forger son avenir et se munir des clés pour réaliser ses ambitions</strong>.
  </p>
  <div class="next">
    <a type="button" routerLink="about">Lire la suite</a>
  </div>
</div>

<div id="actions">
  <h2>Nous agissons pour plus d'égalité des chances</h2>
  <ul class="action-bubbles">
    <div class="action-bubble" *ngFor="let action of actions">
      <img [src]="action.src" [alt]="action.title">
      <p>{{ action.title }}</p>
    </div>
  </ul>
  <p>De la seconde à la Terminale, nous sommes présents sur tous les fronts pour accompagner le développement de nos lycéens.</p>
  <a type="button" routerLink="actions">En savoir plus</a>
</div>

<div id="news">
  <div class="heading">
    <h2>L'actualité de l'association</h2>
    <div class="link-all">
      <a routerLink="news" type="button">Tous les articles</a>
    </div>
  </div>
  <ul class="news-cards">
    <app-news-card *ngFor="let newsItem of news" [news]="newsItem"></app-news-card>
  </ul>
</div>

<div id="calls-to-action">
  <div class="heading">
    <h2>Ensemble, osons agir.</h2>
  </div>
  <div class="cta">
    <div class="cta-text">
      <p>
        Ils nous soutiennent cette année encore : <strong>merci à nos partenaires pour leur engagement !</strong>
      </p>
      <p>
        Vous aussi, engagez-vous à nos côtés en devenant <strong>partenaire d'Ouverture Sociale pour l'Égalité et la Réussite</strong>.
      </p>
      <div class="cta-btn">
        <a routerLink="contact">Devenir partenaire</a>
      </div>
    </div>
    <div class="cta-well white">
      <img src="assets/img/partenaires-akoya.png" alt="Akoya Consulting">
      <img src="assets/img/partenaires-safran.png" alt="Safran">
    </div>
  </div>
  <div class="cta">
    <div class="cta-text">
      <p>
        OSER fait partie de la Cordée Mutualisée de l'Université Paris Saclay, projet visant à favoriser l'accès à l'enseignement supérieur, dont les  lières d'excellence, de jeunes quel que soit leur milieu socioculturel. Notre action est ainsi en partie financée par des organismes régionaux et départementaux.
      </p>
      <p>
        Vous aussi, <strong>soutenez notre action auprès des jeunes de la région parisienne</strong>.
      </p>
      <div class="cta-btn">
        <a routerLink="donate">Faire un don</a>
      </div>
    </div>
    <div class="cta-well">
      <img src="assets/img/partenaires-cget.png" alt="CGET">
      <img src="assets/img/partenaires-rectorat.png" alt="Rectorat">
      <img src="assets/img/partenaires-ridf.png" alt="RIDF">
      <img src="assets/img/partenaires-upsaclay.png" alt="UPSaclay">
    </div>
  </div>
</div>
