@import '~app/showcase-site/sass/mixins';
@import '~app/showcase-site/sass/variables';

#photo {
  position: relative;
  @extend %shadow;
  z-index: -1;
  img {
    display: block;
    width: 100%;
    height: auto;
  }
}

#qui-sommes-nous {
  @include page-section(1, white);
  @extend %shadow;
  background: $color-dark-blue;
  text-align: center;

  h2 {
    color: $color-light-blue;
  }

  p {
    margin-bottom: 2em;
  }

  .next {
    margin-bottom: 2em;
    a {
      @include btn(white, $hover-color: $color-dark-blue);
    }
  }
}

#actions {
  @include page-section(2);
  @extend %shadow;
  background: $color-light-blue;
  text-align: center;

  a {
    @include btn($color-accent);
  }

  .action-bubbles {
    display: flex;
    justify-content: center;
    padding: 0;
    list-style-type: none;
  }

  p {
    margin-bottom: 2em;
  }

  .action-bubble {
    text-align: center;

    img {
      width: 100%;
      max-width: 200px;
      height: auto;
      border-radius: 50%;
    }

    p {
      text-transform: uppercase;
      font-weight: bold;
      color: $color-dark-blue;
    }

    & + .action-bubble {
      margin-left: 3em;
    }
  }
}

#articles {
  @include page-section(3);
  @extend %shadow;

  .heading {
    text-align: center;
  }

  .link-all {
    text-align: center;
    margin: 0;

    a {
      @include btn($color-dark-blue);
    }
  }

  .article-cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
    list-style-type: none;
    margin: 2em 0;
    @include media-md() {
      flex-direction: row;
    }
    /* Add space between cards */
    app-article-card + app-article-card {
      margin-top: 2em;
      @include media-md {
        margin-top: 0;
        margin-left: 2em;
      }
    }
  }
}


#calls-to-action {
  /* TODO add responsiveness/media queries */
  @include page-section(4);
  @extend %shadow;
  background-color: $color-dark-blue;
  color: white;

  .heading {
    text-align: center;
  }

  h2 {
    color: $color-light-blue;
  }

  .cta {
    display: grid;
    grid-template-areas: "text" "well";
    grid-gap: 2em;
    margin-bottom: 2em;
    @include media-lg {
      grid-template-areas: "text well";
    }
  }


  .cta-text {
    grid-area: "text";
  }
  .cta-btn {
    text-align: center;
    margin-top: 2em;
    a {
      @include btn($color-light-blue, $hover-color: $color-dark-blue);
    }
  }

  .cta-well {
    grid-area: "well";
    width: auto;
    margin-bottom: auto;
    text-align: center;
    border-radius: 4px;
    /* internal shadow */
    box-shadow: 0 3px 10px 3px rgba(0, 0, 0, 0.2) inset;

    img {
      vertical-align: middle;
      max-width: 200px;
      height: auto;
    }
    &.white {
      background: white;
    }
    @include media-lg {
      width: 30em;
    }
  }
}
