<a [routerLink]="['../']">Retour</a>

<h1>{{ project.name }}</h1>

<div *ngIf="project.logo">
  <img [src]="project.logo" [alt]="project.name">
</div>

<p>{{ project.description }}</p>

<h2>Éditions</h2>

<ul>
  <li *ngFor="let edition of project.editions">
    <h3>{{ edition.fullTitle(project) }}</h3>
    <div *ngIf="edition.editionForm; else noForm">
      <div *ngIf="edition.editionForm.open; else tooLate">
        <p>
          Inscriptions ouvertes jusqu'au
          <strong>
            {{ edition.editionForm.deadline | amLocale:'fr' | amCalendar }}.
          </strong>
        </p>
        <a mat-raised-button color="accent" [routerLink]="['./' + edition.id + '/inscription']">S'inscrire</a>
      </div>
      <ng-template #tooLate>
        <p>Les inscriptions à ce projet sont fermées.</p>
      </ng-template>
    </div>
    <ng-template #noForm>
      <p>Le dossier d'inscription sera bientôt disponible.</p>
    </ng-template>
  </li>
</ul>
