@import '~app/showcase-site/sass/mixins';


ul.choices {
  list-style-type: none;
  margin: .3em 0 .6em 0;
  padding: 0;
  font-weight: normal;
  li {
    cursor: pointer;
    padding: .3em 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 3px;
    &:hover {
      color: $color-dark-blue;
      background-color: lighten($color-light-blue, 5%);
    }
  }
}
.selected {
  color: $color-dark-blue !important;
  background-color: $color-light-blue !important;
}
