<div class="container">
  <h2 id="title">Mes inscriptions</h2>
  <a routerLink="./mes-inscriptions">Gérer mes inscriptions</a>

  <p>1 inscription en attente</p>

  <table>
    <tr>
      <td>
        <p>
          <strong>Inscriptions à Oser la Prépa 2018</strong>
        </p>
        <p class="text-muted">
          <strong>En attente</strong>
        </p>
        <p class="text-muted">
          Soumis le 8 juin 2018 à 15h56.
          <a href="#">Détails</a>
        </p>
      </td>
      <td class="action">
        <button class="btn-light">Je m'inscris</button>
      </td>
    </tr>
  </table>
  <div class="rows">

  </div>
</div>
