@import './variables';

/* Spacing */

@mixin box-spacing {
  padding: .3em .5em;
  box-sizing: border-box;
}

/* Styles */

@mixin style-base($color) {
  color: $color;
  border-color: $color;
}
@mixin style-danger {
  @include style-base($color-danger);
}
@mixin style-success {
  @include style-base($color-success);
}
@mixin style-info {
  @include style-base($color-info);
}
@mixin style-warning {
  @include style-base($color-warning);
}
@mixin style-primary {
  @include style-base($color-accent);
}
@mixin style-secondary {
  @include style-base($color-dark-blue);
}
@mixin style-default {
  @include style-base($color-muted);
}

/* Buttons */

@mixin btn($color, $hover-color: white) {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  color: $color;
  background: none;
  border: 1px solid $color;
  padding: 8px;
  border-radius: 4px;
  transition: background 0.2s, color 0.2s;
  font-weight: bold;
  cursor: pointer;

  $disabled-color: desaturate($color, 50);
  $disabled-hover-color: desaturate($hover-color, 50);
  &:hover {
    background: $color;
    color: $hover-color !important;
  }
  &:disabled {
    background: none;
    border-color: $disabled-color;
    color: $disabled-color;
    cursor: not-allowed;
  }
}
.btn-success {
  @include btn($color-success);
}
.btn-danger {
  @include btn($color-danger);
}
.btn-warning {
  @include btn($color-warning);
}
.btn-info {
  @include btn($color-info);
}
.btn-primary {
  @include btn($color-accent);
}
.btn-secondary {
  @include btn($color-dark-blue);
}

/* Alerts */
.alert {
  @include box-spacing;
  margin-top: 0;
  margin-bottom: 0;
}
.alert-danger {
  @include style-danger;
}
.alert-success {
  @include style-success;
}

/* Effects */
@mixin shadow($props) {
  -moz-box-shadow: $props;
  -webkit-box-shadow: $props;
  box-shadow: $props;
}
%shadow {
  @include shadow(0 3px 10px 3px rgba(0, 0, 0, 0.2));
}
%shadow-light {
  @include shadow(0 2px 10px 0 rgba(0, 0, 0, 0.2));
}

@mixin badge($color) {
  @include box-spacing;
  border-radius: 2em;
  margin: .2em;
  font-size: x-small;
  color: $color;
  background-color: lighten(desaturate($color, 20), 45);
}

.badge {
  @include box-spacing;
  border-radius: 50%;
  margin: .2em;
  font-size: x-small;
  width: fit-content;
  height: fit-content;
}
.badge-large {
  font-size: medium !important;
}
.badge-success {
  @include style-success;
  @include badge($color-success);
}
.badge-danger {
  @include style-danger;
  @include badge($color-danger);
}
.badge-warning {
  @include style-warning;
  @include badge($color-warning);
}
.badge-info {
  @include style-info;
  @include badge($color-info);
}
.badge-primary {
  @include style-primary;
  @include badge($color-accent);
}
.badge-secondary {
  @include style-secondary;
  @include badge($color-dark-blue);
}
.badge-default {
  @include style-default;
  @include badge($color-muted);
}
.badge-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: row wrap;
}
