.checkbox-field {
    display: block;
    margin: .5em 0;
  }
  .form-group{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .horizontal-display{
    width:45%;
  }
  .address-input{
    margin:5px;
  }
  
  .quarter-display{
    width:25%;
  }

  .horizontal-center{
    margin: 0 10px;
  }

  .checkbox-field {
    display: block;
    margin: .5em 0;
  }

  .post-edit-text{
    color:green;
  }