<div class="wrapper">
  <div class="header">
    <h1>L'actualité d'OSER</h1>
  </div>

  <div class="search">
    <h3>Rechercher</h3>
    <div class="search-bar">
      <!-- Enter search term here -->
      <input type="text" (keyup)="searchTerm$.next($event.target.value)">
    </div>
    <h3>Filtrer</h3>
    <ul class="filters">
      <list-filter class="filter" title="Année" [values]="years" (onSelect)="onSelectYear($event)" [countContains]="articleYears"></list-filter>
      <list-filter class="filter" title="Catégories" [values]="categories" (onSelect)="onSelectCategory($event)" [countContains]="articleCategories"></list-filter>
    </ul>
  </div>

  <div class="main">
    <ul *ngIf="articles && articles.length > 0; else empty">
      <app-article-item *ngFor="let article of articles | fuzzy : search : ['title']" [article]="article" [hidden]="hidden(article)"></app-article-item>
    </ul>
    <ng-template #empty>
      <p>Pas d'articles pour le moment.</p>
    </ng-template>
  </div>

  <div class="feeds">
    <!-- OSER's Twitter feed -->
    <ng4-twitter-timeline [dataSrc]="{sourceType: 'profile',screenName: 'OSER_CS'}" [opts]="{height: 1000, lang: 'fr'}"></ng4-twitter-timeline>
  </div>
</div>
