@import '~app/showcase-site/sass/mixins';

.wrapper {
  @include margin-page;
  display: grid;

  grid-template-areas:
    "hd"
    "search"
    "main"
    "feeds";
  grid-row-gap: 1em;

  @include media-sm {
    grid-template-areas:
      "hd hd"
      "main search"
      "main feeds";
    grid-template-columns: 3fr 1fr;
    grid-column-gap: 2em;
    grid-row-gap: 1em;
  }

  @include media-md {
    grid-template-areas:
      ". hd ."
      "search main feeds";
    grid-template-columns: 1fr 3fr 1fr;
  }
}

.header {
  grid-area: hd;
}

.search {
  grid-area: search;
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-weight: bold;
  }
  ul.filter-list {
    font-weight: normal;
  }
  li > ul {
    margin-left: 1em;
  }
}

.main {
  grid-area: main;
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
  }
  /* Add space between article items */
  app-article-item + app-article-item {
    margin-top: 2em;
  }
}
.feeds {
  grid-area: feeds;
}
