<div class="content background">
  <div class="login-form">

    <img class="logo" src="assets/img/oser-logo.png" alt="">

    <h1>Connexion</h1>

    <p *ngIf="fromGuard" class="alert alert-danger">
      Oops ! Vous devez vous connecter pour accéder à cette page.
    </p>

    <p *ngIf="fromUnauthorized" class="alert alert-danger">
      Oops ! Vous n'avez pas les permissions requises pour accéder à cette page.
    </p>

    <messages></messages>

    <form name="form" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>

      <!-- Email field -->
      <div class="form-group" [ngClass]="{'has-error': f.submitted && !username.valid}">
        <input type="text" class="form-control block" name="username" [(ngModel)]="model.username" #username="ngModel" required placeholder="Adresse électronique">
        <p *ngIf="f.submitted && !username.valid" class="alert alert-danger">Ce champ est obligatoire</p>
      </div>

      <!-- Password field -->
      <div class="form-group" [ngClass]="{'has-error': f.submitted && !password.valid}">
        <input type="password" class="form-control block" name="password" [(ngModel)]="model.password" #password="ngModel" required placeholder="Mot de passe">
        <div *ngIf="f.submitted && !password.valid" class="alert alert-danger">Ce champ est obligatoire</div>
      </div>

      <!-- Submit -->
      <div class="text-center">
        <button [disabled]="loading" id="login-btn" class="btn-primary">Se connecter</button>
        <p *ngIf="loading"><i class="fa fa-spinner fa-pulse"></i></p>
      </div>
    </form>
  </div>
</div>
