<app-form-page>

  <!-- <form [formGroup]="formGroup" (ngSubmit)="submit()"> -->

  <!-- <h1>Inscription</h1>

    <p>
      Bienvenue ! Procédons à ton inscription sur l'espace lycéens.
    </p> -->

  <!-- First name -->
  <!-- <mat-form-field class="full-width">
      <input matInput type="text" formControlName="firstName" placeholder="Prénom" required>
    </mat-form-field> -->

  <!-- Last name -->
  <!-- <mat-form-field class="full-width">
      <input matInput type="text" formControlName="lastName" placeholder="Nom" required>
    </mat-form-field> -->

  <!-- Email -->
  <!-- <mat-form-field class="full-width">
      <input matInput type="email" formControlName="email" placeholder="Adresse email" required>
      <mat-hint>
        Elle te servira d'identifiant de connexion.
      </mat-hint>
    </mat-form-field> -->

  <!-- Confirm Email -->
  <!-- <mat-form-field class="full-width">
      <input matInput type="email" formControlName="emailConfirm" placeholder="Confirmer l'adresse email"
        [errorStateMatcher]="emailMatcher">
      <mat-error *ngIf="formGroup.hasError('emailsDifferent')">
        Les adresses emails doivent être identiques.
      </mat-error>
    </mat-form-field>

    <mat-form-field class="full-width">
      <input matInput type="tel" formControlName="phoneNumber" placeholder="Numéro de téléphone" required>
      <mat-hint>
        Il nous permettra de te contacter en cas de nécessité.
      </mat-hint>
    </mat-form-field>


    <p>
      Il ne te reste plus qu'à choisir un mot de passe. :-)
    </p> -->

  <!-- Password -->
  <!-- <mat-form-field class="full-width">
      <input matInput type="password" formControlName="password" placeholder="Mot de passe" required>
    </mat-form-field> -->

  <!-- Confirm password -->
  <!-- <mat-form-field class="full-width">
      <input matInput type="password" formControlName="passwordConfirm" placeholder="Confirmer le mot de passe"
        [errorStateMatcher]="passwordMatcher">
      <mat-error *ngIf="formGroup.hasError('passwordsDifferent')">
        Les mots de passe doivent être identiques.
      </mat-error>
    </mat-form-field>

    <div class="text-center">
      <button mat-raised-button color="primary" [disabled]="!formGroup.valid || loading">
        M'inscrire
        <app-load-spinner *ngIf="loading" [block]="false"></app-load-spinner>
      </button>
    </div>
    <p class="text-center">{{error}}</p>


    <p class="text-center">
      J'ai déjà un compte ! <a routerLink="/connexion">Me connecter</a>
    </p> -->
  <!-- </form> -->

  <form [formGroup]="formGroup" novalidate>

    <h1>Inscription</h1>

    <p>
      Bienvenue ! Procédons à ton inscription sur l'espace lycéens.
    </p>

    <!-- First name -->
    <mat-form-field class="full-width">
      <input matInput type="text" formControlName="firstName" placeholder="Prénom" required>
    </mat-form-field>

    <!-- Last name -->
    <mat-form-field class="full-width">
      <input matInput type="text" formControlName="lastName" placeholder="Nom" required>
    </mat-form-field>

    <!-- Email -->
    <div formGroupName="emailGroup">
      <mat-form-field class="full-width">
        <input matInput placeholder="Adresse email*" type="email" formControlName="email">
        <mat-hint>
          Elle te servira d'identifiant de connexion.
        </mat-hint>
        <mat-error>
          {{errors.email}}
        </mat-error>
      </mat-form-field>

      <br />

      <mat-form-field class="full-width">
        <input matInput placeholder="Confirmer l'adresse email" type="email" formControlName="confirmEmail"
          [errorStateMatcher]="confirmValidParentMatcher">
        <mat-error>
          {{errors.confirmEmail}}
        </mat-error>
      </mat-form-field>
    </div>

    <mat-form-field class="full-width">
      <input matInput type="tel" formControlName="phoneNumber" placeholder="Numéro de téléphone" required>
      <mat-hint>
        Il nous permettra de te contacter en cas de nécessité.
      </mat-hint>
    </mat-form-field>

    <p>
      Il ne te reste plus qu'à choisir un mot de passe. :-)
    </p>

    <!-- Password -->
    <div formGroupName="passwordGroup">
      <mat-form-field class="full-width">
        <input matInput placeholder="Mot de passe*" type="password" formControlName="password">
        <mat-error>
          {{errors.password}}
        </mat-error>
      </mat-form-field>

      <br />

      <mat-form-field class="full-width">
        <input matInput placeholder="Confirmer le mot de passe" type="password" formControlName="confirmPassword"
          [errorStateMatcher]="confirmValidParentMatcher">
        <mat-error>
          {{errors.confirmPassword}}
        </mat-error>
      </mat-form-field>
    </div>

    <div class="text-center">
      <button mat-raised-button color="primary" [disabled]="!formGroup.valid || loading">M'inscrire
        <app-load-spinner *ngIf="loading" [block]="false"></app-load-spinner>
      </button>
    </div>

    <p class="text-center">
      J'ai déjà un compte ! <a routerLink="/connexion">Me connecter</a>
    </p>

  </form>
</app-form-page>