@import '~sass/variables';

:host {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  background-color: $color-light-gray;
}

form {
  width: 100%;
  max-width: 40em;
  background: white;
  border: 1px solid lightgray;
  border-radius: 4px;
  padding: 3em;
  margin: 3em;
  box-sizing: border-box;
}

.logo {
  width: 100%;
  max-width: 15em;
  height: auto;
  display: block;
  margin: auto;
}
