@import '~app/showcase-site/sass/variables';
@import '~app/showcase-site/sass/mixins';

.colorized {
  color: $color-light-blue;
}

.page-background {
  position: fixed;
  /* fixed with respect to screen */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -50;
  /* push image behind everything */
  background: url("/assets/img/groupe-oser-bw.jpg") no-repeat center;
  background-size: cover;
  filter: blur(2px);
  /* improve text readability */
}

#header {
  position: relative;
  /* To allow background to be relative */
  display: flex;
  flex-direction: column;
  justify-content: center;
  @include margin-page;
  overflow: hidden;
  color: white;

  h1 {
    font-size: 24pt;
    @include media-sm {
      font-size: 32pt;
    }
  }
  z-index: 1;
  @include color-bg($color-dark-blue);
}

#split {
  background-color: white;
  @include media-lg {
    display: grid;
    grid-template-areas: "text image" "text .";
    grid-template-columns: 1fr auto;
    grid-template-rows: 1fr auto;
  }

  .content {
    @include margin-page;
    grid-area: "text";
    grid-rows: 1/2;
    /* Span all text rows */
  }

  .claim {
    color: $color-dark-blue;
    font-weight: bold;
  }

  .carrousel {
    @include margin-page;
    padding-top: 0;
    grid-area: "image";
    @include media-lg {
      padding: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .image {
      display: block;
      margin: 0 auto;
      width: 100%;
      max-width: 40em;
      height: auto;
    }
  }
}

#figures {
  position: relative;
  @include margin-page;
  z-index: 4;
  text-align: center;
  color: white;
  @include color-bg($color-light-blue);

  ul {
    list-style-type: none;
    margin: $margin-page 0;
    padding: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    color: white;
    text-align: center;

    li {
      margin: 1em;
      padding: 1em;
      box-sizing: border-box;
      // include padding in size
      background-color: transp($color-dark-blue, 0.2);
      font-size: small;
      /* round shape */
      $size: 13em;
      width: $size;
      height: $size;
      border-radius: $size / 2;
      /* center content */
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
}

.figure {
  color: $color-light-blue;
  font-family: $font-title;
  font-size: 36pt;
  font-style: italic;
  font-weight: bold;

  &::after {
    /* Add line break after figure */
    content: '\A';
    white-space: pre;
  }
}

#history {
  background-color: white;
  @include margin-page;
  position: relative;
  z-index: 2;
  @include media-lg {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-column-gap: 2em;
  }

  .image {
    max-width: 30em;
    margin: auto;

    img {
      width: 100%;
      height: auto;
    }

    .legend {
      font-size: small;
      color: $color-purple;
      font-style: italic;
    }
  }
}

#site-makers {
  @include margin-page;
  position: relative;
  z-index: 0;
  background-color: $color-light-blue;
}
