<div class="blue-navbar drop-shadow-md">
    <div class="top">
      <a routerLink="/" class='logo-container'>
        <img src='assets/img/oser-logo-white.png' alt='Logo' class='logo'>
      </a>
      <div class="blue-nav-wide">
        <app-blue-nav-group [links]="links" ></app-blue-nav-group>
      </div>
      <i (click)="toggle()" class="hamburger fa fa-bars fa-2x"></i>
    </div>
    <div class="blue-nav-narrow">
      <app-blue-nav-group-vertical *ngIf="visible" [links]="links" (click)="toggle()"></app-blue-nav-group-vertical>
    </div>
  </div>
  