@import '~sass/variables';

#stepper {
  max-width: 60em;
  padding: 0 2em;
  margin: auto;
}

#form-entry {
  max-width: 30em;
  margin: 1em auto;
}

.nav-buttons {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
