
  
  :host {
    height: 100%;
    display: flex;
    flex: 1;
    flex-direction: column;
  }
  
  .actions {
    justify-content: flex-end;
    float:bottom;
  }
  
  .container {
    height: 100%;
  }