@import '~app/showcase-site/sass/variables';
@import '~app/showcase-site/sass/mixins';
$padding: 1em 1.5em;

.card {
  display: grid;
  grid-template-columns: 1fr;
  @include media-md {
    grid-template-columns: 0.4fr 1fr;
  }
  grid-column-gap: 0.5em;
  // display: flex;
  min-height: 100%;
  margin: 0;
  padding: 1em;
  &:hover {
    background: $color-light-gray;
  }
}

.image {
  display: none;
  margin: 0 0.5em auto 0;
  @include media-md {
    display: block;
  }

  img {
    width: 100%;
    height: auto;
    border-radius: 4px;
    overflow: hidden;
  }
}

.card-body {
  h3 {
    font-weight: bold;
    margin: 0;
  }

  .date {
    font-weight: normal;
    margin-top: 0.5em;
    margin-bottom: 0;
  }
  p {
    $m: .5em;
    margin-top: $m;
    margin-bottom: $m;
  }
}

.pinned {
  color: $color-dark-blue;
  font-size: 10pt;
}
