<span [ngSwitch]="state" id="state">

  <label *ngSwitchCase="PENDING" matTooltip="Nous vérifions ton dossier. Pense à envoyer les documents justificatifs !">
    <mat-icon>access_time</mat-icon>
    <p>En attente</p>
  </label>

  <label *ngSwitchCase="VALID" matTooltip="Ton dossier est complet. Nous te confirmerons bientôt ta participation.">
    <mat-icon class="text-success">check_circle</mat-icon>
    <p>Dossier complet</p>
  </label>

  <label *ngSwitchCase="ACCEPTED" matTooltip="Bravo, tu participes à ce projet !">
    <mat-icon class="text-success">thumb_up</mat-icon>
    <p>Accepté</p>
  </label>

  <label *ngSwitchCase="REJECTED" matTooltip="Par manque de places, tu ne pourras malheureusement pas participer à ce projet.">
    <mat-icon>thumb_down</mat-icon>
    <p>Refusé</p>
  </label>

  <label *ngSwitchCase="CANCELLED" matTooltip="Tu as annulé ta participation à ce projet.">
    <mat-icon>cancel</mat-icon>
    <p>Annulé</p>
  </label>

</span>
